$blue: #1f51ff;
$green: #7fff00;
$yellow: #ccff00;
$red: #ff5e00;
$black: #291720;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  background: $black;
}

@mixin container-size($size) {
  width: #{235-$size}px;
  height: #{235-$size}px;
}

@mixin center-flex() {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@mixin position-center() {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@mixin circle() {
  border-radius: 50%;
}

.main-container {
  display: flex;
  flex-wrap: wrap;
  padding: 1.2rem;
}

.container {
  @include container-size(0);
  position: relative;
    overflow: hidden;
  margin: 2rem;
  min-width: 235px;
}

.text-container {
  @include container-size(5);
  @include position-center;
  background: $black;
    overflow: hidden;
  .text {
    @include container-size(15);
    @include position-center;
    @include center-flex;
    background: $black;
    // color:rgba(0,0,0,0);
    text-shadow: 0 0 8px $yellow;
    color: $yellow;
  }
  p {
    font-size: 1.5rem;
  }
}

.border-1 {
  &::after {
    @include circle;
    @include position-center;
    content: '';
    width: 500px;
    height: 500px;
    box-shadow: inset 0 0 100px $green;
    z-index: -1;
    transform-origin: center top;
    animation: border-1 3s linear 1s infinite;
  }
}
.border-2 {
  &::after {
    @include circle;
    @include position-center;
    content: '';
    width: 500px;
    height: 500px;
    box-shadow: inset 0 0 400px $green;
    z-index: -1;
    transform-origin: center top;
    animation: border-2 2.5s ease-out 1s infinite;
  }
}
.border-3 {
  &::after {
    @include circle;
    @include position-center;
    content: '';
    width: 2 * 500px;
    height: 2 * 500px;
    box-shadow: inset 0 0 400px $green;
    z-index: -1;
    transform-origin: center top;
    animation: border-2 4.5s ease-out 1s infinite;
  }
}
.border-4 {
  &::after {
    @include circle;
    @include position-center;
    content: '';
    width: 2 * 500px;
    height: 2 * 500px;
    box-shadow: inset 0 0 400px $green;
    z-index: -1;
    transform-origin: center top;
    animation: border-4 4.5s ease-out 1s infinite;
  }
}
.border-5 {
  &::after {
    @include circle;
    @include position-center;
    content: '';
    width: 500px;
    height: 500px;
    box-shadow: inset 0 0 400px $green;
    z-index: -1;
    transform-origin: center left;
    animation: border-5 4.5s ease-out 1s infinite;
  }
}
.border-6 {
  &::after {
    @include circle;
    position:absolute;
    top:-150px;
    transform-origin: bottom center;
    content: '';
    width: 300px;
    height: 300px;
    box-shadow: inset 0 0 1000px $yellow;
    z-index: -1;
    animation: border-6 2.5s linear infinite;
  }
}
.border-7 {
  &::after {
    @include circle;
    position:absolute;
    top:-150px;
    transform-origin: bottom center;
    content: '';
    width: 300px;
    height: 300px;
    box-shadow: inset 0 0 1000px $yellow;
    z-index: -1;
    animation: border-6 2.5s ease-in-out infinite;
  }
}
.border-8 {
  &::after {
    @include circle;
    position:absolute;
    transform-origin: bottom center;
    content: '';
    width: 300px;
    height: 300px;
    box-shadow: inset 0 0 1000px $yellow;
    z-index: -1;
    animation: border-8 2.5s ease-in-out infinite;
  }
}

.circle {
  @include circle;
}

@keyframes border-1 {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes border-2 {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg) translateY(-1000px);
  }
}
@keyframes border-4 {
  0% {
    transform: rotate(120);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes border-5 {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes border-6 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg) ;
  }
}

@keyframes border-8 {
  0% {
    transform: rotate(0deg) translateY(-200px) translateX(-200px);
  }
  100% {
    transform: rotate(360deg) translateY(200px, 200px) ;
  }
}
