$blue: #1f51ff;
$green: #7fff00;
$yellow: #ccff00;
$red: #ff5e00;
$black: #001514;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  background: $black;
}

// border size
@mixin border-size($size) {
  width: #{235-$size}px;
  height: #{235-$size}px;
}

// align items centrally using flex
@mixin center-flex() {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

// this will position content centrally
@mixin position-center() {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@mixin circle() {
  border-radius: 50%;
}

//set content and size
@mixin content-size($i) {
  content: '';
  width: $i * 500px;
  height: $i * 500px;
  z-index: -1;
}

.main-container {
  display: flex;
  flex-wrap: wrap;
  padding: 1.2rem;
}

.container {
  @include border-size(0);
  position: relative;
  overflow: hidden; 
  margin: 2rem;
  min-width: 235px;
}

.text-container {
  @include position-center;
  width: 235px;
  height: 235px;
  background: $black;
  overflow: hidden;
  .text {
    @include border-size(6);
    @include position-center;
    @include center-flex;
    background: $black;
    text-shadow: 0 0 8px $yellow;
    color: $yellow;
  }
  p {
    font-size: 1.5rem;
  }
}

.circle {
  @include circle;
}

.border-1 {
  &::after {
    @include circle;
    @include position-center;
    @include content-size(1);
    transform-origin: center top;
    box-shadow: inset 0 0 300px $green;
    animation: animate-1 3s linear 1s infinite;
  }
}
.border-2 {
  &::after {
    @include circle;
    @include position-center;
    @include content-size(1);
    transform-origin: center top;
    box-shadow: inset 0 0 400px $blue;
    animation: animate-2 2.5s ease-out 1s infinite;
  }
}
.border-3 {
  &::after {
    @include circle;
    @include position-center;
    @include content-size(2);
    transform-origin: center top;
    box-shadow: inset 0 0 400px $red;
    animation: animate-2 4.5s ease-out 1s infinite;
  }
}
.border-4 {
  &::after {
    @include circle;
    @include position-center;
    @include content-size(2);
    transform-origin: center top;
    box-shadow: inset 0 0 400px $yellow;
    animation: animate-3 4.5s ease-out 1s infinite;
  }
}
.border-5 {
  &::after {
    @include circle;
    @include position-center;
    @include content-size(1);
    transform-origin: center left;
    box-shadow: inset 0 0 400px $green;
    animation: animate-1 4.5s ease-out 1s infinite;
  }
}
.border-6 {
  &::after {
    @include circle;
    @include content-size(1);
    position: absolute;
    top: -150px;
    transform-origin: bottom center;
    box-shadow: inset 0 0 1000px $blue;
    animation: animate-1 2.5s linear  infinite;
  }
}
.border-7 {
  &::after {
    @include circle;
    @include content-size(0.5);
    position: absolute;
    top: -150px;
    transform-origin: bottom center;
    box-shadow: inset 0 0 1000px $green;
    animation: animate-1 2.5s ease-in-out 1s infinite;
  }
}
.border-8 {
  &::after {
    @include circle;
    @include content-size(0.6);
    position: absolute;
    top:0;
    transform-origin: top center;
    box-shadow: inset 0 0 1000px $green;
    animation: animate-4 2s linear 1s infinite forwards;
  }
}

@keyframes animate-1 {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes animate-2 {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg) translateY(-1000px);
  }
}
@keyframes animate-3 {
  0% {
    transform: rotate(120);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes animate-4 {
  0% {
    transform: rotate(0);
    transform-origin: top left;
  }
  20% {
    transform: rotate(90deg);
    transform-origin: top right;
  }
  40% {
    transform: rotate(180deg);
    transform-origin: bottom right;
  }
  60% {
    transform: rotate(270deg);
    transform-origin: bottom left;
  }
  100% {
    transform: rotate(360deg);
    transform-origin: top left;
  }
}
